.primary-text-second-section {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.second-text-second-section {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 4rem;
}

.background-second-section {
  background-image: url("../../../../assets/background-circuit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media screen and (max-width: 1366px) {
  .second-text-second-section {
    padding: 0px 3rem;
    font-size: 1.5rem;
  }
  .primary-text-second-section {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 900px) {
  .second-text-second-section {
    padding: 0px 2rem;
    font-size: 1.2rem;
  }
  .primary-text-second-section {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 600px) {
  .background-second-section {
    background-image: url("../../../../assets/CircuitoSM.jpg");
  }
  .second-text-second-section {
    padding: 0px 1rem;
    font-size: 1rem;
  }
  .primary-text-second-section {
    font-size: 2.5rem;
  }
}
