.Timer-primary-text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timer-tempo-dia-afins {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timer-tempo-titulo {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
