.timer-primary-text {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timer-tempo-dia-afins {
  color: #fff;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timer-tempo-titulo {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  .timer-primary-text {
    font-size: 1rem;
  }
  .timer-tempo-dia-afins {
    font-size: 1.5rem;
  }
  .timer-tempo-titulo {
    font-size: .5rem;
  }
}