.background-artigos-section {
  background-image: url("../../../../assets/background_maos.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
