.primary-text-fourth-section {
  color: #fff;
  font-family: 'Nasalization';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  .primary-text-fourth-section {
    font-size: 2.5rem;
  }
}
