.button-subscribe-second-section {
    display: inline-flex;
    padding: 28px 72px 28px 68px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 50px;
    background: #00e0e6;
  }
  .button-subscribe-second-section:active {
    background: #00969b;
  }