.typography-first-section {
  color: #00e0e6;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-primary-first-section {
  color: #fff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .text-primary-first-section {
    width: 100%;
    font-size: 1.5rem;
  }
  .typography-first-section {
    font-size: 1.5rem;
  }
}