.typography-first-section {
  color: #00e0e6;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-primary-first-section {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
