.typography-first-section {
  color: #00e0e6;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-primary-first-section {
  color: #fff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
}

.background-first-section {
  /* background-image: url('../../../../assets/Cerebro.png'); */
  background-image: url('../../../../assets/cerebro-3.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media screen and (max-width: 1400px) {
  .text-primary-first-section {
    margin-top: 3rem;
    font-size: 2.3rem;
  }
  .typography-first-section {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 900px) {
  .background-first-section {
    background-image: url("../../../../assets/CerebroSM.jpg");
    /* background-size: 100% 100%; */
  }
  .text-primary-first-section {
    font-size: 2rem;
  }

  .typography-first-section {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .background-first-section {
    background-image: url("../../../../assets/CerebroXS.jpg");
    /* background-size: 100% 100%; */
  }

  .text-primary-first-section {
    width: 100%;
    font-size: 1.5rem;
  }

  .typography-first-section {
    font-size: 1.5rem;
  }
}