.logoFooterSBC{
  height: 9em;
  width: auto;
}

.logoFooterUnemat {
  height: 8em;
  width: auto;
  margin: 1rem 0;
}

.text-footer-section {
  color: black;
  font-family: 'Nasalization';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.logoHeader {
  height: 7em;
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 900px) {
  .logoHeader {
    height: 5em;
  }
}

@media screen and (max-width: 600px) {
  .logoHeader {
    height: 3.5em;
  }

  .logoFooterUnemat {
    height: 6em;
    width: auto;
  }
  }
