.item-list-index{
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  .item-list-index{
    font-size: .8rem;
  }
}
@media screen and (max-width: 600px) {
  .item-list-index{
    font-size: .6rem;
  }
}