* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nasalization", sans-serif;
}

@font-face {
  font-family: "Nasalization";
  src: url("./fonts/nasalization-rg.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #00214e;
  color: white;
}
button {
  all: unset;
}
